<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" aria-label="Close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 id="attentionModalLabel" class="modal-title">Attention</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <p class="bg-danger">
                        <strong>You have unsaved changes on this tab!</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" save-changes>Save changes
            </button>
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" discard-changes>Discard
                changes
            </button>
            <button type="button" class="btn btn-default btn-sm"
                    data-dismiss="modal">Cancel
            </button>
        </div>
    </div>
</div>