<div class="modal-dialog modal-lg" role="document" ng-controller="offeringDeleteController">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" aria-label="Close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 id="offeringDeleteModalLabel" class="modal-title">Are you sure?</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="deleteOffering()" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
    </div>
</div>